asgiref
beautifulsoup4
certifi
charset-normalizer
colorama
Django
filelock
gunicorn
gdown
git-filter-repo
gunicorn
idna
numpy
packaging
pandas
psycopg2-binary
PySocks
python-dateutil
python-dotenv
pytz
requests
six
soupsieve
sqlparse
tqdm
tzdata
urllib3
